.idea
BUSampleDataSet
notebooks/.ipynb_checkpoints
WinEarthPhotosByKeyword
*.ipynb_checkpoints

!notebooks/transfer_learning/tf_files/
notebooks/transfer_learning/tf_files/*
!notebooks/transfer_learning/tf_files/images/